# Default ignored files
/../../../:MD3_TrainingDatabase/.idea/shelf/
/../../../:MD3_TrainingDatabase/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:MD3_TrainingDatabase/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:MD3_TrainingDatabase/.idea/dataSources/
/../../../:MD3_TrainingDatabase/.idea/dataSources.local.xml
